*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
    box-sizing: border-box;
}
.headcont{
    margin: 0 auto;
    max-width: 1440px;
}
.nav-a{
    text-decoration: none;
    position: static;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}
.nav-li{
    margin-right: 114px;
    list-style-type: none;
    display: inline-block;
    
}
button{
    padding: 16px 0px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    height: 68px;
    width: 236px;
}
.button_style1{
    background-color: #FA4A0C;
    border: none;
    margin-right:  35px;
}
.button_style2{
    background: none;
    border: 1px solid white;
}
.restapp{
    background-image: url("../img/Rectangle\ 48.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 0 178px;
}
.restapp_info{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #F7F7F7;
}
.restapp_title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 10px auto;
    max-width: 800px;
}
.restapp_about{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #F7F7F7;
    margin-bottom: 50px;
}
.contflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.footerflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.footercont{
    max-width: 1210px;
    margin: 0 auto;
    margin-top: 77px;
}
.restapp2{
    background-image: url("../img/Rectangle\ 47.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 147px 0 131px;
}
.restapp_info2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #F7F7F7;
    margin-bottom: 50px;
}
.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-left: 174px;
    margin-right: 168px;
}
.mobhead{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
}
.mobtitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    max-width: 561px;
    margin: 17px 0;
}
.mobtext{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 27px 0;
    max-width: 467px;
}
.mobile2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
    margin-left: 175px;
    margin-right: 197px;
    margin-bottom: 185px;

}
.head{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    text-align: center;
    margin-top: 56px;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
}
.mobhead2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
}
.mobtitle2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    max-width: 480px;
    margin: 17px 0;
}
.mobtext2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 27px 0;
    max-width: 400px;